<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

</head>
<style>
#copyright {
    position: fixed;
    bottom: 0;
    left: 21%;
    font-weight: bolder;
    font-size: 10px;
    transition: 700ms;
}

#webbody {

    position: absolute;
    padding: 5px;
    top: 8%;
    left: 2%;
    color: white;
    background-color: transparent;
    border-style: groove;
    width: 375px;
    height: 1300px;
    overflow: scroll;

}

#container {
    
    width: 362px;
    height: 200px;
    left: 0%;
    border-style: solid;
    overflow: hidden;
    
}
</style>
<body style="font-family:sans-serif;
    background:rgb(27,27,28);
    color:white;height:1400px">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button"class="navbar-toggle"data-toggle="collapse"
        data-target="#example-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" style="border-width:1px;border-color:#ffffff;color:white;" href="#">Yamete-Kun</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      
      <ul class="nav navbar-nav navbar-right">
           <ul class="nav navbar-nav"style="padding-left:10px;">
        <li class="active"><a href="#">HOME</a></li>
        <li class="#"><a href="#">Read Comics</a></li>
        <li class="#"><a href="#">Browse</a></li>
        <li class="#"><a href="#">ABOUT</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Join<span class="caret"></span></a>
          <ul class="dropdown-menu" style="padding-left:5px;">
            <li><a href="#">SignIn</a></li>
            <li><a href="#">SignUp</a></li>
            <li><a href="#">Premium</a></li>

          </ul>
        </li>

      </ul>  
      </ul>
    </div>
  </div>
</nav>
     
<div class="container">
 
  
</div>

<footer>
<div id="copyright">
                <p>COPYRIGHT &copy <script>document.write(new Date().getFullYear())</script> ALL RIGHTS ® RESERVED.</p>
            </div>
</footer>
</body>
</html>
